.navContainer {
	/* Color */
	/* color: #e0fbfc; */
	color: #ffffff;

	/* Padding */
	padding-top: 2rem;
	padding-bottom: 2rem;

	padding-left: 5rem;
	padding-right: 5rem;

	background-color: #252525;

	/* Border */
	border-bottom: 0.5rem solid #3c6e71;

}

.linkControl {
	color: inherit;
	text-decoration: none;
}

.homeLink {
	/* Fonts */
	font-weight: 500;
	font-size: clamp(1.5rem, 6vw, 2.5rem);

	/* Font color */
	/* color: #ade8f4; */
	color: white;
}

.navRight {
	/* FlexBox */
	display: flex;
	align-items: center;
	gap: clamp(1rem, 2vw, 1.5rem);

	/* Fonts */
	font-weight: 400;
	font-size: clamp(1rem, 4vw, 1.5rem);
}

.rightLink:hover {
	/* color: #98c1d9; */
	color: #7a838d;
	transition: color 1s;
}

.mainNavBar{
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: space-between;
	margin-left: 10rem;
	margin-right: 10rem;
}

.mobileNavbar{
	display: none;
}

.mobileNavTitle{
	font-weight: 500;
	font-size: 35px;

	/* Font color */
	/* color: #ade8f4; */
	color: white;
}

.mobileDropDown{
	/* Positioning */
	position: absolute;
	top: 6.5rem;
	left: 0;

	/* Width */
	width: 100vw;

	/* Text Align */
	text-align: center;

	/* Padding */
	padding-top: 1.5rem;

	/* Border */
	border-radius: 15px;

	background-color: #252525;

	/* Animation */
	animation: slideDown 0.4s ease-in-out; /* Animation to slide down and maintain final position */

	/* Transition */
	transition: opacity 0.5s ease-in-out; /* Transition for smooth opacity changes */
}

/* Keyframe Animation */
@keyframes slideDown {
	0% {
		top: 8%;  /* Starting position above the viewport */
		opacity: 0; /* Initially transparent */
	}
	100% {
		top: 6.5rem; /* Final position */
		opacity: 1; /* Fully visible */
	}
}

.mobileNavLink{
	margin-bottom: 1rem;
	font-size: 25px;
	font-weight: 500;

	cursor: pointer;
}

.MenuIcon{
	cursor: pointer;
}

.mobileNavLink:hover{
	color:#7db8bb;
}

/* Media Queries */
@media (max-width: 1300px) {
	.mainNavBar{
		display: flex;
		flex: 1;
		align-items: center;
		justify-content: space-between;
		margin-left: 4rem;
		margin-right: 4rem;
	}
}

@media (max-width: 960px) {
	.mainNavBar{
		display: flex;
		flex: 1;
		align-items: center;
		justify-content: space-between;
		margin-left: 0;
		margin-right: 0;
	}
}


@media (max-width: 750px) {
	.mainNavBar {
	  display: none;
	}

	.mobileNavbar{
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
	}

	.navContainer{
		display: flex;
		justify-content: flex-end;

		padding-right: 2rem;
		padding-top: 1rem;
		padding-bottom: 1rem;
	}
}