.container{
    /* Border */
    /* border: 1px solid red; */
    border-left: 3.2px solid #599FA4;

    /* Padding */
    padding-left: 0.7rem;

    /* Margin */
    margin-bottom: 3rem;
}

.title{
    font-size: 25px;
    font-weight: 500;
}

.text{
    font-size: 19px;
    font-weight: 300;
}

.bottomLinks{
    display: flex;
}

/* .botLink{
    font-weight: 600;  
    border-bottom: 1px solid white;
    margin-right: 1rem;
} */

.botLink {
    text-decoration: none;
    color: white;
    font-weight: 600;
    position: relative;
    margin-right: 1rem;
    cursor: pointer;
}

.botLink::before {
    /* Content of the before tag */
    content: '';
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 1.2px;
    background-color: white;
    transition: width 0.3s ease;
}

.botLink:hover::before {
    width: 100%;
}

.topRow{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

/* Language Logo Styles */
.logo{
    background-color: #315A76;
    /* Padding */
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;

    /* Border radius */
    border-radius: 25px;

    /* Font Size */
    font-size: 17px;

    display: flex;
    align-items: center;

    column-gap: 0.2rem;
}