.container{
    /* Border */
    /* border: 1px solid red; */
    border-left: 3.2px solid #599FA4;

    /* Padding */
    padding-left: 0.7rem;

    /* Margin */
    margin-bottom: 3rem;
}

.title{
    font-size: 25px;
    font-weight: 500;
}

.text{
    font-size: 19px;
    font-weight: 300;
}